<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta content="<%= embed.title %>" property="og:title" />
    <meta content="<%= embed.desc %>" property="og:description" />
    <meta content="<%= url %>" property="og:url" />
    <meta content="<%= embed.img %>" property="og:image" />
    <meta data-react-helmet="true" name="theme-color" content="#<%= embed.color %>" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
</body>
</html>
